.register,
.register * {
  box-sizing: border-box;
}
.register {
  background: var(
    --background,
    conic-gradient(
      from 180deg at 50% 50%,
      rgba(237, 254, 255, 1) 41.826921701431274%,
      rgba(63, 216, 227, 1) 61.538463830947876%
    )
  );
  display: grid;
  gap: 10px;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: minmax(0, 1fr) minmax(0, 16fr);
}
.header {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 58px;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.image {
  border-radius: 157px;
  border-style: solid;
  border-color: #3fd8e3;
  border-width: 5px;
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.onlytourz {
  color: var(--logo, #3fd8e3);
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: -0.03em;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
  width: 332px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.onlytourz-span {
  font-family: "SwankyAndMooMoo-Regular", sans-serif;
}
.onlytourz-span2 {
  font-family: "Inter-Black", sans-serif;
  font-weight: 900;
}
.frame-23 {
  display: grid;
  gap: 0px;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 921px;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.frame-21 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 507px;
  height: 859px;
  position: absolute;
  right: 0px;
  top: calc(50% - 420.71px);
  grid-column: 0 / span 1;
  grid-row: 0 / span 1;
}
._5277724560626194-2 {
  border-radius: 60px;
  flex-shrink: 0;
  width: 518px;
  height: 921px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 518/921;
}
.frame-22 {
  display: flex;
  flex-direction: column;
  gap: 73px;
  align-items: center;
  justify-content: center;
  width: 640px;
  height: 921px;
  position: absolute;
  left: 0px;
  top: 0px;
  grid-column: 0 / span 1;
  grid-row: 0 / span 1;
}
.frame-16 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 515px;
  height: 169px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 332.79px;
}
.create-an-account {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.welcome {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: relative;
  width: 490px;
}
.which-type-of-user-are-you {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 111px;
}
.frame-27 {
  display: flex;
  flex-direction: row;
  gap: 56px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  height: 80px;
  position: absolute;
  left: 62px;
  top: 508.79px;
}
.frame-25 {
  background: #efeded;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 186px;
  height: 77px;
  position: relative;
}
.customer {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: underline;
  position: relative;
}
.frame-26 {
  background: #efeded;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  height: 80px;
  position: absolute;
  left: calc(50% - -105px);
  top: calc(50% - 41px);
}
.tour-guide {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: underline;
  position: relative;
}
