{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'tourism/css/vars_home.css' %}">
    <link rel="stylesheet" href="{% static 'tourism/css/style_home.css' %}">

    <title>OnlyTourz - Discover Mauritius</title>
</head>

<body>

    <div class="home">

        <div class="desktop">

            <!-- Header -->
            <div class="header-2">

                <div class="onlytourz">
                    <span>
                        <span class="onlytourz-span">
                            ONLYTOURZ
                        </span>

                        <span class="onlytourz-span2"></span>
                    </span>
                </div>

                <img
                    class="image4"
                    src="{% static 'tourism/images/image3.png' %}"
                    alt="OnlyTourz"
                >

                <div class="nav">

                    <div class="home2">
                        <a href="{% url 'OnlyToursApp:home' %}">
                            Home
                        </a>
                    </div>

                    <div class="book-now2">
                        <a href="{% url 'OnlyToursApp:booknow' %}">
                            Book Now
                        </a>
                    </div>

                    <div class="attractions">
                        <a href="{% url 'OnlyToursApp:attractions' %}">
                            Attractions
                        </a>
                    </div>

                    <div class="tour-guide">
                        <a href="{% url 'OnlyToursApp:tourguides' %}">
                            Tour Guide
                        </a>
                    </div>

                    <div class="log-in">
                        <a href="{% url 'OnlyToursApp:login' %}">
                            Log In
                        </a>
                    </div>

                </div>

            </div>


            <!-- Hero Section -->
            <div class="frame-1">

                <div class="home-page">

                    <img
                        class="mauritius-aesthetic-vectorized"
                        src="{% static 'tourism/images/mauritius-aesthetic-vectorized0.svg' %}"
                        alt="Mauritius"
                    >

                    <img
                        class="mauritius-aesthetic"
                        src="{% static 'tourism/images/mauritius-aesthetic0.png' %}"
                        alt="Mauritius"
                    >


                    <!-- Main Hero Text -->
                    <div class="discover-paradise-experience-the-beauty-of-mauritius-from-stunning-beaches-to-breathtaking-hikes-let-onlytourz-be-your-guide-to-unforgettable-memories">

                        <span>

                            <span class="discover-paradise-experience-the-beauty-of-mauritius-from-stunning-beaches-to-breathtaking-hikes-let-onlytourz-be-your-guide-to-unforgettable-memories-span">
                                <br>
                            </span>

                            <span class="discover-paradise-experience-the-beauty-of-mauritius-from-stunning-beaches-to-breathtaking-hikes-let-onlytourz-be-your-guide-to-unforgettable-memories-span2">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>

                                DISCOVER
                            </span>

                            <span class="discover-paradise-experience-the-beauty-of-mauritius-from-stunning-beaches-to-breathtaking-hikes-let-onlytourz-be-your-guide-to-unforgettable-memories-span3">
                            </span>

                            <span class="discover-paradise-experience-the-beauty-of-mauritius-from-stunning-beaches-to-breathtaking-hikes-let-onlytourz-be-your-guide-to-unforgettable-memories-span2">

                                PARADISE
                                <br>

                            </span>

                            <span class="discover-paradise-experience-the-beauty-of-mauritius-from-stunning-beaches-to-breathtaking-hikes-let-onlytourz-be-your-guide-to-unforgettable-memories-span4">
                                <br>
                                <br>
                            </span>

                            <span class="discover-paradise-experience-the-beauty-of-mauritius-from-stunning-beaches-to-breathtaking-hikes-let-onlytourz-be-your-guide-to-unforgettable-memories-span5">

                                Experience the
                                <br>
                                <br>
                                Beauty of

                            </span>

                            <span class="discover-paradise-experience-the-beauty-of-mauritius-from-stunning-beaches-to-breathtaking-hikes-let-onlytourz-be-your-guide-to-unforgettable-memories-span6">

                                Mauritius
                                <br>

                            </span>

                            <span class="discover-paradise-experience-the-beauty-of-mauritius-from-stunning-beaches-to-breathtaking-hikes-let-onlytourz-be-your-guide-to-unforgettable-memories-span7">
                                <br>
                                <br>
                            </span>

                            <span class="discover-paradise-experience-the-beauty-of-mauritius-from-stunning-beaches-to-breathtaking-hikes-let-onlytourz-be-your-guide-to-unforgettable-memories-span8">

                                From stunning beaches to breathtaking hikes,
                                <br>

                                let ONLYTOURZ be your guide to unforgettable memories.

                            </span>

                        </span>

                    </div>


                    <!-- Explore Button -->
                    <div class="button-explore"></div>

                    <div class="book-now">
                        BOOK NOW!
                    </div>

                    <div class="button-tg"></div>

                    <img
                        class="arrow-1"
                        src="{% static 'tourism/images/arrow-10.svg' %}"
                        alt=""
                    >


                    <!-- Attractions -->
                    <div class="explore-top-attractions-across-the-island">

                        <span>

                            <span class="explore-top-attractions-across-the-island-span">
                                Explore
                                <br>
                            </span>

                            <span class="explore-top-attractions-across-the-island-span2">
                                Top attractions across the island
                            </span>

                        </span>

                    </div>


                    <!-- Tour Guide -->
                    <div class="find-a-tour-guide">
                        Find a Tour Guide
                    </div>

                    <img
                        class="arrow-2"
                        src="{% static 'tourism/images/arrow-20.svg' %}"
                        alt=""
                    >

                    <img
                        class="personnel"
                        src="{% static 'tourism/images/personnel0.png' %}"
                        alt="Tour Guide"
                    >


                    <div class="find-local-guides-experienced-friendly-and-trained">

                        <span>

                            <span class="find-local-guides-experienced-friendly-and-trained-span">
                                Find Local Guides
                                <br>
                            </span>

                            <span class="find-local-guides-experienced-friendly-and-trained-span2">
                                Experienced, friendly and trained
                            </span>

                        </span>

                    </div>


                    <!-- Easy Booking -->
                    <div class="easy-booking-book-your-tours-with-ease">

                        <span>

                            <span class="easy-booking-book-your-tours-with-ease-span">
                                Easy Booking
                                <br>
                            </span>

                            <span class="easy-booking-book-your-tours-with-ease-span2">
                                Book your tours with ease
                            </span>

                        </span>

                    </div>


                    <img
                        class="booking"
                        src="{% static 'tourism/images/booking0.png' %}"
                        alt="Easy Booking"
                    >

                    <div class="button-tg2"></div>

                    <div class="explore-attractions">
                        Explore Attractions
                    </div>

                </div>


                <img
                    class="place-marker"
                    src="{% static 'tourism/images/place-marker0.png' %}"
                    alt="Location"
                >

                <div class="address"></div>

            </div>


            <!-- Emergency Contact -->
            <div class="emergency-contact">
                Emergency Contact
            </div>


            <!-- Featured Attractions -->
            <div class="featured-attractions">
                Featured Attractions
            </div>


            <!-- Attraction Cards -->
            <div class="feature-cards-1">


                <!-- Card 1 -->
                <div class="card-1">

                    <img
                        class="image"
                        src="{% static 'tourism/images/image0.png' %}"
                        alt="Cascade 500 pieds"
                    >

                    <div class="body">

                        <div class="text">

                            <div class="cascade-500-pieds">
                                Cascade 500 pieds
                            </div>

                            <div class="discover-one-s-of-mauritius-s-best-kept-secrets-this-dramatic-500-foot-waterfall-drops-into-the-black-river-gorges-ending-at-a-natural-infinity-pool-with-sweeping-views-over-the-south-coast-difficulty-hard">

                                Discover one's of Mauritius's best kept secrets.
                                This dramatic 500 foot waterfall drops into the
                                Black River Gorges, ending at a natural infinity
                                pool with sweeping views over the south coast.

                                <br>

                                Difficulty : Hard

                                <br>

                            </div>

                        </div>

                    </div>

                </div>


                <!-- Card 2 -->
                <div class="card-2">

                    <img
                        class="image2"
                        src="{% static 'tourism/images/image1.png' %}"
                        alt="Le Morne Brabant"
                    >

                    <div class="body2">

                        <div class="text">

                            <div class="le-morne-brabant">
                                Le Morne Brabant
                            </div>

                            <div class="le-morne-is-a-spectacular-peninsula-and-mountain-in-the-southwest-of-mauritius-located-approximately-60-km-from-port-louis-dominated-by-le-morne-brabant-which-rises-to-555-meters-this-exceptional-site-is-listed-as-a-unesco-world-heritage-site-as-a-place-of-memory-for-escaped-slaves">

                                Le Morne is a spectacular peninsula and mountain
                                in the southwest of Mauritius, located
                                approximately 60 km from Port Louis.

                                Dominated by Le Morne Brabant, which rises to
                                555 meters, this exceptional site is listed as
                                a UNESCO World Heritage site as a place of
                                memory for escaped slaves.

                            </div>

                        </div>

                    </div>

                </div>


                <!-- Card 3 -->
                <div class="card-3">

                    <img
                        class="image3"
                        src="{% static 'tourism/images/image2.png' %}"
                        alt="Trou aux Cerfs"
                    >

                    <div class="body3">

                        <div class="body4">

                            <div class="trou-aux-cerfs">
                                Trou aux Cerfs
                            </div>

                            <div class="trou-aux-cerfs-is-a-famous-tourist-attraction-known-for-its-beautiful-flora-it-comprises-of-a-dormant-volcano-crater-opening-hours-availabilty-of-tour-guide-difficulty-easy">

                                Trou aux Cerfs is a famous tourist attraction
                                known for its beautiful flora. It comprises
                                of a dormant volcano crater.

                                <br>

                                Opening Hours: Availability of Tour Guide

                                <br>

                                Difficulty: Easy

                            </div>

                        </div>

                    </div>

                </div>

            </div>


            <!-- Emergency Numbers -->
            <div class="text-row-2">

                <div class="text-block-1">

                    <div class="police">
                        Police
                    </div>

                    <div class="_112-999">
                        112 / 999
                        <br>
                    </div>

                </div>


                <div class="text-block-2">

                    <div class="samu">
                        SAMU
                    </div>

                    <div class="_114">
                        114
                    </div>

                </div>


                <div class="text-block-3">

                    <div class="fire">
                        Fire
                    </div>

                    <div class="_115">
                        115
                    </div>

                </div>

            </div>

        </div>

    </div>

</body>

</html>