<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/vars.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="register">
    <div class="desktop">
      <div class="create-an-account">CREATE AN ACCOUNT</div>
      <div class="welcome">WELCOME!</div>
      <div class="rectangle-21"></div>
      <div class="customer" a href="{% url 'register %}">Customer</div>
      <div class="rectangle-22"></div>
      <div class="tour-guide">Tour Guide</div>
      <div class="onlytourz">
        <span>
          <span class="onlytourz-span">ONLYTOURZ</span>
          <span class="onlytourz-span2"></span>
        </span>
      </div>
      {% load static %}
      <img class="_5277724560626194-1" src="{% static 'images/_5277724560626194-10.png' %}" />
      <img class="image" src="{% static 'images/image0.png' %}" />
      <div class="which-type-of-user-are-you">Which type of user are you?</div>
    </div>
  </div>
  
</body>
</html>